

body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    width: 100%;
}

body > div > div {
    width: 70%;
    margin: 0 auto;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px auto;
}

.logo {
    font-size: 30px;
    color: #F9FAF8;
    flex: 1;
}

ul {
    flex: 1;
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 40px;
    text-decoration: none;
}

.info {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 15px;
    margin: 80px auto;
}

.hero-heading {
    font-size: 52px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-main-text {
    margin: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

img {
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 5px 0px 5px 20px;
    flex: 1 1 0;
}

.signup {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 3px 5px;
    width: 100px;
    height: 30px;
    color: #F9FAF8;
}

.info-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.info-2-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 25px auto;
}

.bgColor-1 {
    background-color: white;
}

.bgColor-2 {
    background-color: #E5E7EB;
}

.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: #363a42;
}

.card{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}



.info-3 {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    font-size: 36px;
    font-weight: normal;
    font-style:italic;
    color:  #626e80;
}

.author {
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    color: #1F2937;
    margin-right: 20px;
}

.info-4 {
    display: flex;
    background-color: #3882F6;
    padding: 30px 0px;
    margin: 90px auto;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    color: #F9FAF8;
}

.info-4 > .signup {
    border: 2px solid #E5E7EB;
}